---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Footer from '../components/footer.astro';
import  '../styles/style.css';
const pageTitle = 'Academia Medall칩n';
---

<Layout title={pageTitle}>
	</Layout><br><br><br>
		<Hero/>
		<br><br>
	<div class="todo" id="contenido">
		<br>
		<h1 style="text-align: center; color: #A00498; font-size: 35px;">游눪 Conoce la Academia Preuniversitaria Medall칩n</h1>
		<br>
		<div class="nos-tros">
			<div class="slider-box">
				<ul class="imag">
					<li><img src="/public/imgini.jpg" alt=""></li>
					<li><img src="/public/imgini2.jpg" alt=""></li>
					<li><img src="/public/imgini3.jpg" alt=""></li>
					<li><img src="/public/imgini4.jpg" alt=""></li>
				</ul>
			</div>
				<div class="text-c">
					<p>En Medall칩n sabemos que ingresar a la universidad no es f치cil, pero tampoco imposible. Por eso, estamos aqu칤 para ayudarte a prepararte de la mejor manera. Somos una academia preuniversitaria que combina experiencia, pasi칩n por la ense침anza y estrategias efectivas para que alcances tu meta.</p>
					<br>
					<p>Nuestro equipo est치 formado por docentes apasionados, comprometidos con tu crecimiento. Cada clase, cada pr치ctica y cada simulacro est치 pensado estrat칠gicamente para que llegues al examen con ventaja. Adem치s, contamos con materiales actualizados, plataformas de apoyo virtual y un ambiente donde estudiar se convierte en una experiencia real de superaci칩n.</p>
					<br>
					<p>Porque si eres Medall칩n, eres ganador.</p>
					<br>
					<p>춰S칰mate a esta experiencia y prep치rate para lograrlo!</p>
				</div>
			</div>
		
		<br><br><br>
		<div class="servis">
			<h1 style="font-size: 35px; font-weight: 700;"> Conoce Nuestros Servicios </h1>
			<p style="font-size: 18px;">Aprende a tu ritmo, con los mejores recursos y un equipo que te apoya. Estos servicios est치n dise침ados para llevar tu educaci칩n al siguiente nivel.</p>
			<br><br>
			<div class="servis-content">
				<a class="servi-content">
					<p>Ciclo An치logo CPU</p>
				</a>
				<a  class="servi-content">
					<p>Ciclo Intensivo</p>
				</a>
				<a class="servi-content">
					<p>Ciclo refuerzo escolar</p>
				</a>
				<a class="servi-content">
					<p>Ciclo Ciencias de la Salud</p>
				</a>
				<a class="servi-content">
					<p>Asesoria de Biolog칤a Molecular</p>
				</a>
				<a class="servi-content">
					<p>Asesor칤a de Bioquimica</p>
				</a>
			</div>
			<br>
			<a class="infomx" href="/servicios">M치s informaci칩n...</a>
		</div>
		<br><br><br>
		<div class="carrusel-container">
			<h1 style="text-align: center; font-size: 35px; font-weight: bold;">춰Estudia con la mejor plana de docentes!</h1>
			<br>
			<p style="font-size: 18px; margin: auto; text-align: center; width: 80%;">En <b>Medall칩n</b> contamos con la mejor plana de docentes, que estan altamente capacitados para brindarte el mejor servicio y ense침anza, para que asi puedas conseguir ese ingreso tan anhelado.</p>
			<br>
			<div class="carrusel">
				<img class="slide active" src="/public/docentes/prof10.jpg" alt="">
				<img class="slide" src="/public/docentes/prof2.jpg" alt="">
				<img class="slide" src="/public/docentes/prof3.jpg" alt="">
				<img class="slide" src="/public/docentes/prof4.jpg" alt="">
				<img class="slide" src="/public/docentes/prof5.jpg" alt="">
				<img class="slide" src="/public/docentes/p6.jpg" alt="">
				<img class="slide" src="/public/docentes/prof6.jpg" alt="">
				<img class="slide" src="/public/docentes/prof7.jpg" alt="">
				<img class="slide" src="/public/docentes/prof8.jpg" alt="">
				<img class="slide" src="/public/docentes/prof9.jpg" alt="">
				<img class="slide" src="/public/docentes/prof1.jpg" alt="">
				<img class="slide" src="/public/docentes/prof11.jpg" alt="">
				<img class="slide" src="/public/docentes/prof12.jpg" alt="">
				<img class="slide" src="/public/docentes/prof13.jpg" alt="">
				<img class="slide" src="/public/docentes/prof14.jpg" alt="">
				<img class="slide" src="/public/docentes/prof15.jpg" alt="">
				<img class="slide" src="/public/docentes/prof16.jpg" alt="">
				<img class="slide" src="/public/docentes/prof17.jpg" alt="">
			</div>
			<button class="prev">&#10094;</button>
			<button class="next">&#10095;</button>
		</div>

		<div class="carrusel-container" style="top: 50px;">
			<h1 style="font-weight: bold; text-align: center; font-size:35px;">Tu Esfuerzo Hoy, Tu 칄xito Ma침ana</h1>
			<p style="font-size: 18px; margin: auto; text-align: center; width: 80%; padding: 15px 0;">En Medall칩n, reconocemos el esfuerzo y la dedicaci칩n que nuestros estudiantes han demostrado para alcanzar esta importante meta.
			쯏 qu칠 esperas t칰? 춰칔nete a nosotros!</p>
			<div class="carousel">
				<div class="carousel-track">
					<img src="/public/Ingresantes/ingre1.jpg" alt="Imagen 1" class="carousel-image">
					<img src="/public/Ingresantes/ingre2.jpg" alt="Imagen 2" class="carousel-image">
					<img src="/public/Ingresantes/ingre3.jpg" alt="Imagen 3" class="carousel-image">
					<img src="/public/Ingresantes/ingre4.jpg" alt="Imagen 4" class="carousel-image">
					<img src="/public/Ingresantes/ingre5.jpg" alt="Imagen 5" class="carousel-image">
					<img src="/public/Ingresantes/ingre6.jpg" alt="Imagen 6" class="carousel-image">
					<img src="/public/Ingresantes/ingre7.jpg" alt="Imagen 7" class="carousel-image">
					<img src="/public/Ingresantes/ingre8.jpg" alt="Imagen 8" class="carousel-image">
					<img src="/public/Ingresantes/ingre9.jpg" alt="Imagen 9" class="carousel-image">
					<img src="/public/Ingresantes/ingre10.jpg" alt="Imagen 10" class="carousel-image">
					<img src="/public/Ingresantes/ingre11.jpg" alt="Imagen 11" class="carousel-image">
					<img src="/public/Ingresantes/ingre12.jpg" alt="Imagen 12" class="carousel-image">
				</div>
				
				<button class="carousel-btn prev">&#10094;</button>
				<button class="carousel-btn next">&#10095;</button>
			</div>
		</div>
		
		<br><br>
	</div>
</div>
	
<script src="/src/scripts/script.js"></script>

	<Footer/>
</Layout>
