---
import Header from '../components/NavBar.astro';
import Footer from '../components/footer.astro';
import  '../styles/analogocpu.css';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='icon' type='image/svg+xml' href='/LOGOS MEDALLON 121.png' />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Ciclo Análogo CPU</title>
    <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet" />
</head>
<body>
    <Header/>
    <br><br><br>
    <div class="herocpu">
        <h1>NUESTROS SERVICIOS</h1>
        <p style="font-size: 18px;">Aprende a tu ritmo, con los mejores recursos y un equipo que te apoya. Estos servicios están diseñados para llevar tu educación al siguiente nivel.</p>
        <div class="botones">
            <a href="https://wa.me/51952315225" class="contactt">Contáctanos Ahora</a>
            <a href="#contenido" class="boton-scroll">Ver Servicios</a>
        </div>
    </div>
    <div class="servis" id="contenido">
        <div class="serviss">
            <h1> Conoce Nuestros Servicios </h1>
            <p>Aprende a tu ritmo, con los mejores recursos y un equipo que te apoya. Estos servicios están diseñados para llevar tu educación al siguiente nivel.</p>
        </div>
        <br><br><br>
        <div class="servis-content">
            <div class="servi-content">
                <h1>Ciclo Repaso CPU</h1>
                <div class="servi">
                    <img src="/repasocpu.jpg" alt="">
                    <div class="servi-p">
                        <p>Un curso intensivo dirigido a estudiantes que se preparan para ingresar a la universidad. </p>
                        <p>Enfocado en las áreas clave de los exámenes de admisión, con clases teóricas, resolución de ejercicios tipo examen, simulacros y acompañamiento docente. </p>
                        <p>Ideal para quienes desean asegurar su ingreso con una preparación estructurada y de alto nivel.</p>

                        <a href="">Contactanos <i class="fa-solid fa-chevron-right"></i> </a>

                    </div>
                </div>
            </div>
            
            <div class="servi-content">
                <h1>Ciclo Intensivo</h1>
                <div class="servi">
                    <img src="/INTENSIVO.jpg" alt="">
                    <div class="servi-p">
                        <p>Programa pensado para estudiantes que requieren aprender o reforzar conocimientos en un corto periodo.</p>
                        <p>Se concentra en los temas más relevantes del curso, con sesiones dinámicas, resúmenes, técnicas de memorización y resolución práctica.</p>
                        <p>Perfecto para preparación de exámenes o nivelación rápida.</p>

                        <a href="">Contactanos <i class="fa-solid fa-chevron-right"></i> </a>

                    </div>
                </div>
            </div>

            <div class="servi-content">
                <h1>Ciclo refuerzo escolar</h1>
                <div class="servi">
                    <img src="/escolar.png" alt="">
                    <div class="servi-p">
                        <p>Orientado a estudiantes de primaria y secundaria que necesitan apoyo académico continuo.</p>
                        <p>Se trabaja con el contenido escolar oficial, se desarrollan hábitos de estudio y se ofrece acompañamiento personalizado en tareas, evaluaciones y comprensión general.</p>
                        <p>Ayuda a mejorar el rendimiento y la confianza del estudiante.</p>

                        <a href="">Contactanos <i class="fa-solid fa-chevron-right"></i> </a>

                    </div>
                </div>
            </div>
            

            <div class="servi-content">
                <h1>Ciclo Ciencias de la Salud</h1>
                <div class="servi">
                    <img src="/CIENCIASSALUD.png" alt="">
                    <div class="servi-p">
                        <p>Nuestro enfoque está orientado a desarrollar el pensamiento crítico, la capacidad de análisis y la vocación de servicio que todo profesional de la salud necesita.</p>
                        <p>Curso especializado para estudiantes que siguen o desean seguir carreras como medicina, enfermería, odontología o biotecnología.</p>
                        <p>Se imparten materias fundamentales como anatomía, fisiología, microbiología y farmacología, con enfoque práctico, clínico y enfocado en el razonamiento biomédico.</p>
                        <!-- <p></p> -->

                        <a href="">Contactanos <i class="fa-solid fa-chevron-right"></i> </a>

                    </div>
                </div>
            </div>
            

            <div class="servi-content">
                <h1>Asesoria de Biología Molecular</h1>
                <div class="servi">
                    <img src="/biomolecular.png" alt="">
                    <div class="servi-p">
                        <p>Apoyo personalizado para estudiantes que necesitan comprender los procesos celulares a nivel molecular.</p>
                        <p>Se explica de forma clara la estructura y función del ADN, ARN, síntesis de proteínas, y los mecanismos de replicación, transcripción y traducción.</p>
                        <p>Ideal para carreras del área biomédica.</p>

                        <a href="">Contactanos <i class="fa-solid fa-chevron-right"></i> </a>

                    </div>
                </div>
            </div>

            <div class="servi-content">
                <h1>Asesoría de Bioquimica</h1>
                <div class="servi">
                    <img src="/ASESORIA.png" alt="">
                    <div class="servi-p">
                        <p>Diseñada para reforzar el entendimiento de las rutas metabólicas y el comportamiento químico de las biomoléculas.</p>
                        <p> Incluye temas como glucólisis, ciclo de Krebs, respiración celular, y análisis de proteínas, lípidos y carbohidratos.</p>
                        <p>Se utiliza un enfoque didáctico, visual y lógico para facilitar el aprendizaje.</p>

                        <a href="">Contactanos <i class="fa-solid fa-chevron-right"></i> </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <Footer/>
</body>
</html>