---
import Header from '../components/NavBar.astro';
import Footer from '../components/footer.astro'
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles/videos.css">
    <title>Videos</title>
</head>
<body>
<Header /> <br><br><br><br><br>
    <div class="video">

        <iframe src="https://www.youtube.com/embed/CU_6uX4Gy8k?si=VcZ4WlPllwDugoRW" title="YouTube video player" style="border: none;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        <iframe src="https://www.youtube.com/embed/Xi2UO7UW89A?si=Flbvoq30dlUSj8tP" title="YouTube video player" style="border: none;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        <iframe src="https://www.youtube.com/embed/Y2RDIV3GgAA?si=XJkEKTVoms3b2HCx" title="YouTube video player" style="border: none;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        <iframe src="https://www.youtube.com/embed/iiZEqdlI-l8?si=uKX4cr43GCod9yqT" title="YouTube video player" style="border: none;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        <iframe src="https://www.youtube.com/embed/yX5SRQSMkhY?si=XezFCmpSwGovG1C9" title="YouTube video player" style="border: none;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    </div>
    <Footer/>

    
</body>
</html>